@import "bootstrap";

body {
  font-family: 'Patrick Hand', cursive;
}

.bg-calendar {
  background-color: #efe2d0;
  color: black;
}

.brand-huge {
  font-size: 8rem;
  line-height: 1.1;
  font-weight: bold;
}

.hand-input {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
}

.calendar-day {
  height: 80px;
  transition: all 0.2s;
  
  &:hover {
    background-color: #e6d5bd !important;
    cursor: pointer;
  }
}

.calendar-day-empty {
  height: 80px;
}

.calendar-header {
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: none !important;
}

.hover-scale {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.3);
  }
}